<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premier cas de figure</title>
    <link rel="stylesheet" type="text/css" href="styles2.css">
</head>
<body>
    <form id="searchForm">
        <input type="text" id="searchInput" name="q" placeholder="Rechercher...">
        <input type="submit" id="searchButton" value="Rechercher">
    </form>
    <div id="loadingMessage" style="display: none;">Fiche en attente de chargement...</div>

    <script type="module" src="app.ts"></script>
</body>
</html>
