<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles1.css">
</head>
<body>
    <header>Hnapp</header>
    <div id="main">
      <article>
          <section>
            <h1>À propos</h1>
            <p>
                Hnapp est notre site web présentant les fonctionnalités de notre projet
            </p>
            <p>
                À travers ce site, vous pourrez tester les différentes fonctionnalités 
            </p>
          </section>
          <section>
            <h1>Voici un cas d'usage de notre outil</h1>
            <p>
                Un élève de quatrième a récupéré une fiche sur le Louvre dans son manuel d’histoire. Il ne
                sait pas quels éléments sont au programme, et aimerait apprendre les éléments qui sont au
                programme mais ne sont pas sur la fiche. Il upload la fiche sur le site, grâce à la
                fonctionnalité de “recherche inversée”, en choisissant l’option déroulante pour la classe de
                quatrième. Le site lui renvoie une page interactive où les éléments de la fiche qui sont au
                programme apparaissent en surbrillance. Lorsqu’il déplace sa souris sur ces derniers, il
                apparaît un hypertext qui les détaille, toujours dans le cadre du programme.
            </p>
            <p>
                Un professeur de seconde aimerait faire une fiche sur le Louvre. Il entre “fiche sur l’histoire
                du musée du Louvre au 19ème siècle” en sélectionnant l’option déroulante pour la classe de
                seconde. L’outil génère une fiche sur le Louvre, en reprenant les éléments du programme de
                seconde.
            </p>
          </section>
          <section>
            <button onclick="window.location.href='demarrer.html'">Démarrer</button>
          </section>
      </article>
    </div>
    <footer>
        <p>
            <b>Projet Artishow</b>  2023-2024 Télécom Paris
        </p>
    </footer>
</body> 
</html>